extends ../../templates/layout

block main
    .view
        .post
            a(class="backButton" href=`/blog?clang=${lang}`)
                i(class="material-icons md-24 teal600") arrow_back_ios
                span BLOG
            br
            img(data-src=img_path + frontmatter.image.replace(/^[.]/, '') class="lazy")
            h1 #{frontmatter.title}
            p(style="color: gray;") #{date}
            div!=body
            br
            a(class="backButton" href=`/blog?clang=${lang}`)
                i(class="material-icons md-24 teal600") arrow_back_ios
                span BLOG
            br
            div(id="disqus_thread")
            script.
                var disqus_config = function () {
                    this.page.url = window.location;  
                    this.page.identifier = window.pathname; 
                };
                (function() { 
                    var d = document, s = d.createElement('script');
                    s.src = 'https://santiagomarcano.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();

